<h1><%= @post.title %><%= link_to " >>Next", posts_path %></h1>
<% renderer = Redcarpet::Render::HTML.new(hard_wrap: true) %>
<% md = Redcarpet::Markdown.new(renderer) %>
<%= md.render(Post.get_body(@post.permlink, @post.author)).html_safe %>

